.upload-icon {
  border: 1px dashed #000;
  font-size: 36px;
  padding: 30px;
  line-height: 21px;
}

.ivu-form-inline .ivu-form-item {
  width: 47%;
}

.button-wrap {
  background: #ffffff;
  padding: 10px 20px 10px 150px;

  .current {
    background: rgba(160, 0, 217, 1);
    color: #ffffff;
  }
}

.button {
  padding: 10px 30px;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.ivu-steps {
  margin-bottom: 20px;
}

.container {
  height: 100%;
  min-width: 800px;
  overflow: auto;
}

/deep/.tip {
  color: #f40;
  font-weight: 500;
  font-size: 12px;
}
