.contenter {
  padding: 20px;
}

.upload-icon {
  line-height: 40px;
}

.logo {
  width: 130px;
  height: 88px;
  border-radius: 4px;
}

.ivu-col-span-14 {
  padding-right: 20%;
}

/deep/.ivu-input[disabled],
/deep/.ivu-select-disabled .ivu-select-selection {
  background: none;
  color: #000;
  border: 0;
  cursor: auto;
}

/deep/ .ivu-table-wrapper .ivu-table th,
#app .ivu-table-wrapper .ivu-table td {
  width: 20% !important;
}
