.upload-icon{
  border: 1px dashed #000;
  font-size: 36px;
  padding: 30px;
  line-height: 21px;
}
.ivu-btn-primary{
  display: block;
  margin: 50px auto;
}
.logo {
  width: 90px;
  height: 85px;
}
.ivu-col {
  padding-right: 10%;
}
/deep/.ivu-input[disabled], /deep/.ivu-select-disabled .ivu-select-selection{
  background:none;
  color: #000;
  border: 0;
  cursor: auto;
}

